<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>All the things!</title>
</head>
<body style="background-color: #eeeeee; font-family: sans-serif">
    <div style="background-color: #ffffff; box-shadow: 0px 2px 18px #888888; width: 800px; height: 100%; padding: 20px; margin: auto; margin-top: 20px;">
        <div style="text-align: center"><img src="all-the-things.jpg" style="width: 250px; margin-bottom: 50px;" /></div>
        <div>
            @RenderBody()
        </div>
    </div>
</body>
</html>
