@{
    Layout = "~/Shared/_Layout.cshtml";
}

@using (Html.BeginForm(FormMethod.Post))
{
    <div>
        <div><label for="name">Name</label></div>
        <div><input type="text" name="name" /></div>
    </div>
    <div>
        <div><label for="description">Description</label></div>
        <div><textarea cols="80" rows="10" name="description"></textarea></div>
    </div>
    <div>
        <input type="submit" value="Add" />
    </div>
}