<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
@using (Html.BeginForm(FormMethod.Post))
{
    <input type="text" name="name"/>
    <textarea name="description"></textarea>
    <input type="submit" value="Add"/>
}
</body>
</html>